.historical-graph img {
	max-width: 100%;
}

p {
	color: #2B3032;
}

.colour-red {
	color: #CE5330;
}

.colour-blue {
	color: #5BB1E2;
}
.colour-light-blue {
	color: #E4F0F4;
}

.colour-yellow {
	color: #E8D807;
}

.colour-dark {
	color: #2B3032;
}

.background-red {
	background-color: #CE5330;
}

.background-blue {
	background-color: #5BB1E2;
}
.background-light-blue {
	background-color: #E4F0F4;
}

.background-yellow {
	background-color: #E8D807;
}

.background-dark {
	background-color: #2B3032;
}


.index .logo {
	width: 45%;
	display: block;
	margin: 8em auto 2em auto;
}

.index .lead {
	margin-bottom: 3em;
}

#ageForm {
	display: none;
}



.heatmap #googleMap {
	margin-left: -15px;
	height: 70vh;
	width: 100vw;
}

.heatmap p.lead {
	margin-top: 2em;
	margin-bottom: 2em;
}

.air-quality-score{
	height: 70vh;
	width: 100vw;
	color:white;
	margin-top: 0;
	margin-bottom: 2em;
}
.air-quality-score h1 {
	font-size: 5em;
	margin-top: 8rem;
	margin-bottom: 0;
}
.air-quality-score h2 small {
	margin-top: 0;
	margin-bottom: 3em;
	color: white
}

.buttons-holder {
	position: absolute;
	bottom: 2em;
	width: 100%;
	padding-right: 30px;
}

.twitter-login img {
	display: block;
	margin: 0 auto;
	height: 18vw;
	margin-top: 25vh;
	margin-bottom: 10vh;
}

.specific-measures .progress {
	margin-bottom: 1em;
}

.twitter-send h1 {
	margin-top: 3em;
	margin-bottom: 1.5em;
}

.twitter-send a {
	margin-top: 3em;
	margin-bottom: 1.5em;
}

.twitter-success img {
	width: 30vw;
	display: block;
	margin-top: 30vh;
	margin-bottom:1vh;
	margin-right: auto;
	margin-left: auto;
}
.twitter-success a {
	margin-top: 2em;
}